.info {
  display: flex;
  gap: 2rem;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  h4 {
    color: #4a5567;
    font-size: 0.75rem;
  }
  .circle {
    padding: 0.2rem;
    width: 3px;
    height: 3px;
    background-color: #4a5567;
    border-radius: 50%;

    &.active {
      background-color: #c951e7;
    }
  }
}

.mistakes {
  span {
    color: #4a5567;
  }
}
